<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaicom.origin.dao.UserDao">
	<resultMap type="com.kaicom.bean.UserBean" id="resultMap">
		<id column="id" property="id"/>
		<result column="userNo" property="userNo"/>
		<result column="userName" property="userName"/>
		<result column="loginName" property="loginName"/>
		<result column="password" property="password"/>
		<result column="deptNo" property="deptNo"/>
		<association property="deptBean" javaType="com.kaicom.bean.DeptBean">
			<id column="dept_id" property="id"/>
			<result column="deptNo" property="deptNo"/>
			<result column="deptName" property="deptName"/>
			<result column="deptMainManager" property="deptMainManager"/>
			<result column="phone" property="phone"/>
			<result column="oDate" property="oDate"/>
		</association>
	</resultMap>
	
	<resultMap type="com.kaicom.bean.UserBean" id="resultMapUnion">
		<id column="id" property="id"/>
		<result column="userNo" property="userNo"/>
		<result column="userName" property="userName"/>
		<result column="loginName" property="loginName"/>
		<result column="password" property="password"/>
		<result column="deptNo" property="deptNo"/>
		<association property="deptBean" javaType="com.kaicom.bean.DeptBean" column="deptNo" select="getDeptByDeptNo">
		</association>
	</resultMap>
	
	<select id="listUser1" resultMap="resultMap">
		select a.*,b.id as dept_id,b.deptNo,b.deptName,b.deptMainManager,b.phone,b.oDate from user a left join dept b on a.deptNo = b.deptNo
	</select>
	
	<select id="listUser2" resultMap="resultMapUnion">
		select * from user
	</select>
	
	<select id="getDeptByDeptNo" parameterType="String" resultType="com.kaicom.bean.DeptBean">
		select * from dept where deptNo = #{a}
	</select>
	
	<insert id="insertUser" parameterType="com.kaicom.bean.UserBean">
		<selectKey keyColumn="id" keyProperty="id" order="AFTER" resultType="int">
			select LAST_INSERT_ID()
		</selectKey>
		insert into user
		(userNo,userName,loginName,password,deptNo)
		values
		(#{userNo},#{userName},#{loginName},#{password},#{deptNo})
	</insert>
</mapper>